name: Test Build PowerBI visual

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Dependencies
      run: |
        npm install
        npm install -g powerbi-visuals-tools@5.1.1

    - name: Run linter
      run: |
        npm run eslint

    - name: Test if package can be built
      run: |
        pbiviz package
