name: Test Build PowerBI visual

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - PowerBI-SPC-Docs/** # Don't run on docs folder
  push:
    branches: [unit-tests]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v4

    - name: Create .tmp directory
      run: |
        mkdir -p .tmp/test

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Dependencies
      run: |
        npm install
        npm install -g powerbi-visuals-tools

    - name: Run linter
      run: |
        pbiviz lint

    - name: Run unit tests
      run: |
        npm run test

    - name: Test if package can be built
      run: |
        pbiviz package

    - name: Attach built visual
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: powerbi-visual-${{ github.sha }}
        path: dist/*.pbiviz
