name: Test Build PowerBI visual

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    paths-ignore:
      - PowerBI-SPC-Docs/** # Don't run on docs folder

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
    - uses: actions/checkout@v6

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Dependencies
      run: |
        npm install
        npm install -g powerbi-visuals-tools@6.2.0

    - name: Run linter
      run: |
        pbiviz lint

    - name: Test if package can be built
      run: |
        pbiviz package

    - name: Run unit tests
      run: |
        npm run test

    - name: Build frontend bundle
      run: |
        npm run bundle

    - name: Attach built visual
      if: success()
      uses: actions/upload-artifact@v6
      with:
        name: powerbi-visual-${{ github.sha }}
        path: dist/*.pbiviz

    - name: Attach built frontend bundle
      if: success()
      uses: actions/upload-artifact@v6
      with:
        name: frontend-bundle-${{ github.sha }}
        path: .tmp/build/PBISPC.js
